body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #864ddf, #203376);
}



.gradient-custom {

    height: 100%;

    background: #6a11cb;

    background: -webkit-linear-gradient(to right, #864ddf, #203376);

    background: linear-gradient(to right, #864ddf, #203376);
}

.login-box {
    background: #ffffffbc;
    border-radius: 2.5rem
}


.container-center-update {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #864ddf, #203376);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.update-box {
    height: auto;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 10px 8px 14px rgba(0, 0, 0, 0.1);
}

.update-box h2 {
    font-weight: 700;
    color: #203376;
    margin-bottom: 30px;
    text-align: center;
}

.profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.profile-pic img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #8800ff;
}

.upload-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.upload-btn input {
    display: none;
}

.upload-btn label {
    background: #864ddf;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
}

.upload-btn label:hover {
    background: #203376;
}

.form-control {
    font-size: 14px;
    padding: 12px 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

button[type="submit"] {
    background: linear-gradient(to right, #864ddf, #203376);
    border: none;
    width: 100%;
    padding: 12px;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}


button[type="submit"]:hover {
    background: linear-gradient(to right, #203376, #864ddf);
}

.subscribebutton {
    background: linear-gradient(to right, #d8e923, #ccb315);
    border: none;
    width: 100%;
    padding: 12px;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    align-items: center;
}

#fileUploadSection {
    margin-top: 20px;
    padding: 20px;
    border: 2px dashed #007bff;
    border-radius: 10px;
    background-color: #f8f9fa;
}

#fileUploadSection label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    color: #007bff;
}

#fileUploadSection input[type="file"] {
    display: none;
    /* Ocultamos el campo por defecto */
}

#fileUploadSection .custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
}

#fileList {
    margin-top: 15px;
    text-align: left;
    color: #333;
}

#fileList li {
    list-style-type: none;
    padding: 5px;
    background-color: #e9ecef;
    margin-bottom: 5px;
    border-radius: 5px;
}